In [ ]:
#@title MIT License
#
# Copyright (c) 2020 Balázs Pintér 
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# DEALINGS IN THE SOFTWARE.

# Jupyter notebook basics

We are going to use both Jupyter notebooks and plain Python code.

- This is a markdown cell, the next ones are code cells
- The notebook is running a kernel (here, Python), the code cells are executed by this kernel
- Very useful to do any command or check shortcuts: p
- Move around: arrow keys or j, k
- Run a cell and go to next cell: Shift+Enter
- Go to edit mode to edit a cell: click or Enter
- Get help about while editing: Shift-Tab, press twice to get more help
- Back to command mode from edit mode: Esc
- New cell above: a
- New cell below: b
- Delete cell: x
- Run a cell and insert new cell below: Alt-Enter

# Python crash course
Tutorial for reference: https://docs.python.org/3/tutorial/index.html

## Variables and types

Python is dynamically typed. The types belong to the objects and not their names.

For example, `a = 3` assigns the object `3` to the name `a`. The name `a` will reference the object `3` from now on.

`a` can be freely reassigned later.

In [ ]:
a = 3 # int
a = True # bool
a = 4.2 # float

Python is strongly typed. For example, `'abc' + 3` would give an error.

## Sequence types

In [18]:
a = 'abc' # str
b = [1, 2, 3, 4, 5] # list
c = (1, 2, 3, 4) # tuple

Tuples are denoted by the comma. Multiple assignment is possible with tuples:

In [5]:
a, b = 'abcdef', [1, 2, 3]

In [6]:
a, b

('abcdef', [1, 2, 3])

Strings and tuples are immutable: `a[0] = 'x'` gives an error.

In [9]:
a[0]

'a'

In [10]:
a[0]='x'

TypeError: 'str' object does not support item assignment

In [ ]:
l = [1, 'afgd', True] # lists can have different types in them, although usually they don't

### Some operations

In [11]:
a[0], b[1] # indexing starts from 0

('a', 2)

In [12]:
a[:3] # slicing, up to but not including index 3

'abc'

In [ ]:
a[3:] # slicing from index 3

In [15]:
a=a + 'aa' # concatenation

In [16]:
a[:3] + a[3:] # gives back the original sequence

'abcdefaa'

In [ ]:
a[1:3] # from index 1 to 3

In [ ]:
a[-1] # the last element

In [ ]:
a[-2]

In [17]:
len(a), len(b), len(c) # lengths

NameError: name 'c' is not defined

In [19]:
# appending to a list
print(b)
b.append(34)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 34]

In [20]:
# popping elements from a list
print(b)
b.pop(0)
print(b)
b.pop()
print(b)

[1, 2, 3, 4, 5, 34]
[2, 3, 4, 5, 34]
[2, 3, 4, 5]

## Some expressions and statements

In [ ]:
3 + 4, 3 * 4

In [21]:
a = 2
a += 3
a

5

In [22]:
13 / 4, 13 // 4

(3.25, 3)

In [ ]:
3 % 2

In [23]:
3 == 4, 3 < 4, 4 < 3

(False, True, False)

In [24]:
3 < 4 < 5

True

### if, for, while

In [ ]:
a = 4
b = 3
if a < b:
    print("The condition is true.")
elif b < a:
    print("The first elif branch.")
else: print("The else branch.")

In [25]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for e in l:
    print(e)

In [26]:
x = 1
while x < 10:
    print(x)
    if x % 3 != 0:
        x += 1
    else:
        x += 3

1
2
3
6
9

**Exercise**: Add all the even numbers in l and print the result.

In [27]:
[i for i in l if i%2==0]

[0, 2, 4, 6, 8]

**Exercise**: Collect all the even number in l into a new list l_even.

In [28]:
l_even=[i for i in l if i%2==0]
l_even

[0, 2, 4, 6, 8]

**Exercise**: Solve the [FizzBuzz problem](https://en.wikipedia.org/wiki/Fizz_buzz)

### break, continue, else

In [29]:
l = list(range(10))
import random
random.shuffle(l)
l

[2, 8, 7, 0, 4, 3, 6, 1, 5, 9]

#### 3 versions of a search

In [ ]:
to_find = 8
i = 0
for e in l:
    if e == to_find:
        print(f'Found {to_find} at index {i}')
        break
    i += 1
else:
    print(f'{to_find} was not found in the list')

In [30]:
list(enumerate(l))

[(0, 2),
 (1, 8),
 (2, 7),
 (3, 0),
 (4, 4),
 (5, 3),
 (6, 6),
 (7, 1),
 (8, 5),
 (9, 9)]

In [ ]:
to_find = 8
for i, e in enumerate(l):
    if e == to_find:
        print(f'Found {to_find} at index {i}')
        break
    i += 1
else:
    print(f'{to_find} was not found in the list')

In [ ]:
to_find = 8
print(f'Found {to_find} at index {l.index(to_find)}') # we would have to handle the exception if the element is not in the list

#### continue

In [33]:
for i in range(10):
    if i % 3 != 0:
        continue
    print(i)

0
3
6
9

**Exercise**: Find the largest even number in l

In [31]:
l = list(range(20))
random.shuffle(l)
l

[18, 16, 7, 8, 9, 15, 11, 4, 6, 10, 14, 13, 0, 12, 3, 5, 2, 17, 19, 1]

In [38]:
max_even=-1
for i in l:
    if i%2!=0:
        continue
    else:
        if i>max_even:
            max_even=i
if max_even==-1:
    print("none")
else:
    print(max_even)

18

## List comprehensions

In [ ]:
[x**2 for x in range(5)]

In [ ]:
[(x, x**2) for x in range(5)]

In [ ]:
[(x, x**2) for x in range(5) if x % 2 == 0]

**Exercise**: write a list comprehension to collect all the strings with length 3

In [40]:
l = ['bacd', 'abc', 'ab', 'a', 'bcd', 'cdef', 'cde']

In [41]:
[i for i in l if len(i)==3]

['abc', 'bcd', 'cde']

## Sets and dictionaries

### Sets

In [42]:
a = {1, 2, 3, 4}
a

{1, 2, 3, 4}

In [43]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [44]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [45]:
l = list(range(5)) + list(range(5))
l

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [46]:
set(l)

{0, 1, 2, 3, 4}

In [47]:
3 in a, 13 in a

(True, False)

In [48]:
for e in a:
    print(e)

1
2
3
4
5

**Exercise**: Add the unique elements of l. If you already encountered an element, don't add it to the sum

In [ ]:
l = [1, 1, 2, 3, 2, 4, 5, 2, 3]

### Dictionaries

In [ ]:
d = {'a' : 1, 'b': 5}
d

In [ ]:
d['a']

In [ ]:
d['c'] = 35

You can assign to any key, but can only access existing keys: `d['d']` would give an error.

In [ ]:
for key in d:
    print(key, d[key])

In [ ]:
for key, value in d.items():
    print(key, value)

### Set and dictionary comprehensions

In [ ]:
{x**2 for x in a if x % 2 == 0}

In [ ]:
d = {x: x**2 for x in range(10) if x%2 == 1}
d

**Exercise**: Invert the dictionary d. The keys should be the values, and the values should be the keys.